body {
    margin: 20px;
}
.Logo {
    width: 150px;
}
.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.border-blue {
        border: 1px dotted black;
}
/* .text {
    color:#2b2839;
} */